@charset "utf-8";

@import "_normalize.scss";
@import "susy";

$susy: (
  columns: 12,
  container: 55em,
  global-box-sizing: border-box 
  );
@include border-box-sizing;

@import "style.css.sass";

@import "likely.css";
