= wrap_layout :layout do
  %article
    -content_for(:title, current_article.title)
    =partial "partials/time_and_comments", locals: {article: current_article}
    %h2=current_article.title
    =yield
    =partial "partials/buttons", locals: {article: current_article}
    =partial "partials/tags", locals: {article: current_article}

    .links
      -if current_article.article_previous
        ←
        =link_to current_article.article_previous.title, current_article.article_previous

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      -if current_article.article_next
        =link_to current_article.article_next.title, current_article.article_next
        →

  #comments 
    Комментарии -- скоро, пока отключены. 
