= wrap_layout :layout do
  %article
    -content_for(:title, current_article.title)
    =partial "partials/time_and_comments", locals: {article: current_article}
    %h2=current_article.title
    =yield
    =partial "partials/buttons", locals: {article: current_article}
    =partial "partials/tags", locals: {article: current_article}

    .links
      -if current_article.article_previous
        ←
        =link_to current_article.article_previous.title, current_article.article_previous

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      -if current_article.article_next
        =link_to current_article.article_next.title, current_article.article_next
        →

  #c1
    &nbsp;
  #comments
    Комментарии отключены, потому что Гиперкоммент сделал их платными, 24 доллара в год, и я не хочу им платить. Внизу и вверху страницы я перечислил с полдюжины способов для комментирования: от Телеграма до телефона. Используйте их, их достаточно. Но если хотите вернуть именно гиперкомментские комментарии, пришлите мнеденег. Как только наберётся 24 доллара, я оплачу и включу их. Если верить вендору, ранее сделанные комментарии при этом вернутся. На 
    =Time.now 
    прислано 0 долларов.
-# Комментарии октлючены, потому что Гиперкоммент сделал их платными 
-#    #hypercomments_widget
-#    :javascript
-#      _hcwp = window._hcwp || [];
-#      _hcwp.push({widget:"Stream", widget_id: 63352});
-#      (function() {
-#        if("HC_LOAD_INIT" in window)return;
-#        HC_LOAD_INIT = true;
-#        var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
-#        var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
-#        hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/63352/"+lang+"/widget.js";
-#        var s = document.getElementsByTagName("script")[0];
-#        s.parentNode.insertBefore(hcc, s.nextSibling);
-#      })();
-#
-#    <a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>
