!!!
%html{:lang => "ru"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: '4b800b99244c7ee3', name: 'yandex-verification'}/
    %meta{content: "Сайт Сергея Конакова", name: "title"}/
    %meta{content: "Сергей Конаков, сайт, контакты, айтил, айтиль, ITIL, cobit, pcmm", name: "keywords"}/
    %meta{content: "Сайт Сергея Конакова", name: "description"}/
    %title=yield_content(:title) || "Сайт Сергея Конакова"
    =favicon_tag 'images/favicon.ico'
    =stylesheet_link_tag "all"
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
  %body{class: page_classes}
    .grid
      = partial "header"
      = partial "ads"
      = yield
      = partial "footer"
    =javascript_include_tag "likely.js"
