#nojs
  Похоже, у&nbsp;вас отключен или&nbsp;не&nbsp;работает javascript.
  %br
  Интерактивные функции на&nbsp;этой странице не&nbsp;будут работать, и&nbsp;вы&nbsp;увидите только красивую статичную картинку.
  %br
  Включите или почините javascript и&nbsp;попробуйте ещё&nbsp;раз.
  %br

:javascript
  document.getElementById('nojs').style.display = "none";
