.row
  .small-6.large-3.columns
    .time=article.date.strftime("%d.%m.%Y %H:%M")
  .small-6.large-3.columns
    .comments
      Комментариев:
      %a{class: "commenter", href: article.url+"#comments"} &nbsp;