.time=article.date.strftime("%d.%m.%Y %H:%M")
-#Комментарии отключены из-за того, что Гиперкоммент сделал их платными
-#.comments_count
-#  Комментариев:
-#  %a{class: "commenter", href: article.url.chop + "#comments"} &nbsp;_count
