---
title: О завышенных требованиях к знанию английского 
date: 2018-01-24 12:13 MSK
tags: ielts, экзамен
---

%p
  Месяца полтора-два назад сайт знакомств людей и компаний прислал мне вакансию специалиста по процессам в известном производителе антивирусного программного обеспечения. 

%p
  Среди ожидаемых требований про ITIL в вакансии были упомянуты сертификаты про управление процессами, о которых я раньше не слышал, а больше всего моё внимание привлекло требование знать английский язык не хуже, чем на 8 баллов по каждому разделу теста IELTS. 

%p
  Минимум трижды я успешно проходил тестирование на знание английского при приёме на работу. Сотрудник нанимателя: «Сергей, плиз телл ми эбаут а прожект фром ё паст». Я: «Велл, ин еар ХХХХ фор зе компани УУУУУ ай имплементед северал айтиэсэм просессес.» Ни в одном из тестов мне не предлагали писать или читать, так что я их прошёл будучи, возможно, неграмотным, ха-ха-ха. 

%p
  Мне стало интересно, что такое 8 баллов по IELTS и сколько баллов у меня. Вот что я выяснил. 

%p
  В тесте IELTS шкала оценок от 1 до 9 баллов.Чтобы получить 9, надо, например, в разговорном тесте 2 минуты бойко говорить, возможно, на незнакомую тему, уверенно и к месту используя редкие слова и сложные грамматические конструкции. Всё это без ошибок, чтобы придраться было ни к чему нельзя. Ответ «Yes, I enjoy skiing very much» на вопрос «Do you enjoy skiing?» тянет баллов на 6 в лучшем случае. Для хорошей оценки надо отвечать в духе «Я начал интересоваться спортом в младших классах школы, после того, как во время прогулки увидел играющих в баскетбол детей и захотел вести и бросать мяч, как они. Кроме баскетбольной, я посещал секции плавания и борьбы, а в 6-м классе мы с друзьями записались в лыжную секцию, которую вёл наш учитель физкультуры.» И так пару минут, и вряд ли этого достаточно для 9. Требуемые в вакансии 8 баллов по каждому разделу, я уверен, сможет набрать далеко не каждый англичанин. Оксфорд требует от абитуриентов знать английский на 7 баллов.   

%p
  Что касается моего уровня, то всего за 2500 рублей на имитации теста IELTS (задания и экзаменаторы те же, но официальный сертификат не выдают) я узнал, что слушаю на баллов, пишу на 6, говорю на 6½, а читаю на 8 (37 правильных ответов из 40). Общая оценка 6½, это уверенный upper-intermediate 2. Заниматься ИТ-процессами в известном российском производителе ПО, очевидно, не гожусь.   
