%footer#footer
  .row
    .small-12.columns
      &copy; Сергей Конаков, 2010&nbsp;—
      =Time.now.year
      %br
      %br
  .row
    .small-6.columns
      В соцсетях:
      %br
      =link_to 'Фейсбук', 'http://www.facebook.com/profile.php?id=100002760852486'
      %br
      =link_to 'Твиттер', 'http://twitter.com/konakov'
      %br
      =link_to 'Линкед-ин', 'http://ru.linkedin.com/pub/%D1%81%D0%B5%D1%80%D0%B3%D0%B5%D0%B9-%D0%BA%D0%BE%D0%BD%D0%B0%D0%BA%D0%BE%D0%B2/4a/bb9/49'

    .small-6.columns
      Хостинг:
      %br
      =link_to image_tag("timeweblogo.png"), "https://timeweb.com/ru/?i=26328&a=140"



:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20833665-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


:javascript
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter10061707 = new Ya.Metrika({
          id:10061707,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
                });
            } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");

%noscript
  %div
    <img src="https://mc.yandex.ru/watch/10061707" style="position:absolute; left:-9999px;" alt="" />

#hypercomments_mix
:javascript
  _hcwp = window._hcwp || [];
  _hcwp.push({widget:"Bloggerstream", widget_id:63352, selector:".commenter", label:"{%COUNT%}"});
  (function() {
    if("HC_LOAD_INIT" in window)return;
    HC_LOAD_INIT = true;
    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage ||  "en").substr(0, 2).toLowerCase();
    var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
    hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/63352/"+lang+"/widget.js";    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hcc, s.nextSibling);
  })();

%a{href: "http://hypercomments.com", class: "hc-link", title: "comments widget"} HyperComments