---
pageable: true
---
- content_for(:title, page_articles.first.title)
#articles
  - page_articles.each do |article|
    %article
      =partial "partials/time_and_comments", locals: {article: article}
      %h2=link_to article.title, article.url
      =article.body
      =partial "partials/tags", locals: {article: article}

  - if paginate && num_pages > 1
    Страницы:
    - (1 .. num_pages).each do |n|
      - if n == page_number
        = n
      -else
        = link_to "#{n}", n == 1 ? "/" : "/page/#{n}"

-#:javascript
-#  !function(d,s,id){
-#    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
-#    if(!d.getElementById(id)){
-#      js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
-#      fjs.parentNode.insertBefore(js,fjs);
-#    }}(document,"script","twitter-wjs");
